swagger: "2.0"

info:
  description: "Decentralized bookmark manager."
  version: "0.1.0"
  title: "Likemark.io"
  termsOfService: "likemark.io"
  contact:
    email: "team-chiru@protomail.com"
  license:
    name: "MIT"
    url: "https://en.wikipedia.org/wiki/MIT_License"

host: "likemark.io"

basePath: "/"

schemes:
- "http"
- "https"

paths:
  /likemark/{id}:
    get:
      summary: Get a likemark by his id.
      parameters:
      - in: path
        name: id
        type: string
        required: true
        description: Unique id of the likemark.
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/LikemarkResponse'
        400:
            description: Bad Request.
        404:
            description: Likemark do not exist.

  /likemark/getFirstChildren/{id}:
    get:
      summary: Get only children of a likemark by his id.
      parameters:
      - in: path
        name: id
        type: string
        required: true
        description: Unique id of the likemark.
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/LikemarkResponse'
        400:
            description: Bad Request.
        404:
            description: Likemark do not exist.

  /likemark/getWithFirstChildren/{id}:
    get:
        summary: Get a likemark with his children by his id.
        parameters:
        - in: path
          name: id
          type: string
          required: true
          description: Unique id of the likemark.
        responses:
          200:
            description: OK.
            schema:
              $ref: '#/definitions/LikemarkResponse'
          400:
              description: Bad Request.
          404:
              description: Likemark do not exist.

  /likemark/list:
    get:
        summary: Fetch all likemark as a list.
        responses:
          200:
            description: OK.
            schema:
              $ref: '#/definitions/LikemarkResponse'
          400:
              description: Bad Request.
          404:
              description: Likemark do not exist.

  /likemark/post:
    post:
        summary: Create a single likemark.
        responses:
          200:
            description: OK.
            schema:
              $ref: '#/definitions/LikemarkResponse'
          400:
              description: Bad Request.
          404:
              description: Likemark could not be created.

  /likemark/update/{id}:
    put:
        summary: Update a likemark attributes by his id.
        parameters:
        - in: path
          name: id
          type: string
          required: true
          description: Unique id of the likemark.
        responses:
          200:
            description: OK.
            schema:
              $ref: '#/definitions/LikemarkResponse'
          400:
              description: Bad Request.
          404:
              description: Likemark could not be updated.

  /likemark/delete/{id}:
    delete:
        summary: Delete a likemark by his id.
        parameters:
        - in: path
          name: id
          type: string
          required: true
          description: Unique id of the likemark.
        responses:
          200:
            description: OK.
            schema:
              $ref: '#/definitions/LikemarkResponse'
          400:
              description: Bad Request.
          404:
              description: Likemark could not be deleted.

  /likemark/import:
    post:
      summary: Send a netscape file to save on likemark server.
      responses:
          200:
            description: OK.
          400:
              description: Bad Request.
          404:
              description: Likemark could not be imported.

  /likemark/export:
    get:
     summary: Download a netscape file from likemark server.
     responses:
          200:
            description: OK.
          400:
              description: Bad Request.
          404:
              description: Likemark could not be exported.

definitions:
  LikemarkResponse:
    type: object
    required:
      - id
      - parentId
      - title
      - url
      - children
    properties:
      id:
        type: string
      parentId:
        type: string
      title:
        type: string
      url:
        type: string
      children:
        type: string
    example:
      id:
      parentId:
      title: Likemark title
      url: 56
      children:
        - "0": {
          parentId:  "1",
          children: [],
          id:  "11",
          title:  "Folder11",
          url : "http://likemark.io"
        }

