{{#isFolder}}
    <DT><H3>{{name}}</H3>
    <DL><p>
    {{#children}}
        {{> Likemark}}
    {{/children}}
    </DL><p>
{{/isFolder}}
{{^isFolder}}
    <DT><A HREF="{{{url}}}">{{name}}</A>
{{/isFolder}}
