<!DOCTYPE NETSCAPE-Bookmark-file-1>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<TITLE>{{name}}</TITLE>
<H1>{{name}}</H1>
{{#likemarks}}
<DL><p>
    {{> Likemark}}
</DL><p>
{{/likemarks}}
